

.cardListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 24px;

}

.cardContainer {
    width: 200px;
    height: 230px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: transform 0.2s;
    background-color: white;
}

.title {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}
